
img {
    width: 350px;
    height: 350px;
    border-color: blue;
    transition: all 3s;
    border: radius 8px;
}
img:hover {
    transform: scale(2.3);
    border-radius: 20%;
}


h1 {
    font-family: inherit;
    font-size: 2.2cm;    
    border-right: 1px 1px 1px;
    border-bottom: 2px 2px 2px solid rgb(125, 202, 25);
    text-align: center;
    color: brown;
    box-shadow: 4px 4px 4px;
  

}

.shadowbox {
    width: 4em 3em 4em;
    border: 3px solid rgb(233, 221, 217);
    box-shadow: 10px 10px 10px rgb(233, 158, 47);
    padding: 50px 50px 50px;
    background-image: linear-gradient(180deg, rgb(146, 221, 240), rgb(200, 235, 119) 40%, rgb(240, 155, 248));
  }

 figure {
    margin: 1px;
    text-align-last: left;
 }
 
.buffer {
    height: 5rem;
    width: 20rem;
  }
  
  .btn {
    font-weight: 1200;
    text-transform: uppercase;
    font-size: larger;
    border-radius: 300px;
  }
  
  .btn-primary {
    background-color: #F05F44;
    border-color: #F05F44; }
  
  .btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 5px;
    cursor: pointer;
  }
  
  .btn-xl {
    padding: 1rem 2rem; 
  }
  
   
    
  hr {
    max-width: 5px;
    border-width: 3px;
    border-color: #F05F44; 
  }
 a {
    font-size: xx-large; 
    color: rgb(235, 59, 5);
 } 
 